*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

html{
    scroll-behavior:smooth;
}

nav{
    background:#1e90ff;
    text-align:center;
    padding:15px;
    position:sticky;
    top:0;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

section{
    min-height:100vh;
    text-align:center;
    padding:100px 20px;
}

.home{
    background:#dbeafe;
}

.hero{
    background:#fef3c7;
}

.about{
    background:#dcfce7;
}

.skills{
    background:#fde68a;
}

.education{
    background:#e9d5ff;
}

.skills ul{
    list-style:none;
    margin-top:20px;
}

.skills li{
    font-size:20px;
    margin:15px;
}

.contact{
    background:#d8f3dc;
}

.contact h2{
    margin-bottom:15px;
}

.contact p{
    font-size:20px;
    margin:10px 0;
    font-weight:bold;
}

button{
    margin-top:20px;
    padding:10px 20px;
    background:#1e90ff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0056b3;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}
